@model IEnumerable<OrderListViewModel>
@{
    decimal totalOrderPrice = 0;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Plot Listing HTML5 Website Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/orderUI/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/orderUI/assets/css/templatemo-plot-listing.css">
    <link rel="stylesheet" href="~/orderUI/assets/css/animated.css">
    <link rel="stylesheet" href="~/orderUI/assets/css/owl.css">
    <!--

    TemplateMo 564 Plot Listing

    https://templatemo.com/tm-564-plot-listing

    -->
</head>

<body>
    <div class="recent-listing" style="margin-top:0px; padding-top:50px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        <h1 class="h2 mb-0">SİPARİŞLER</h1>
                    </div>
                    <br />
                </div>
                @foreach (var item in Model)
                {
                    int orderBookIndex = 0;
                    <div class="col-lg-12">
                        <div class="owl-carousel owl-listing">
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="listing-item">
                                            <div class="left-image">
                                                
                                            </div>
                                            <div class="right-content align-self-center">
                                                @foreach (var book in item.BookList)
                                                {
                                                    int quantity = item.OrderBookList.ElementAt(orderBookIndex++).Quantity;
                                                    totalOrderPrice += book.Price * quantity;
                                                    <h4>@book.Name</h4>
                                                    <span class="details">Sipariş Adeti: <em>@quantity</em></span>
                                                }
                                                <hr />
                                                <br />
                                                <span class="details">Müşteri İsmi: <em>@item.User.Name @item.User.Surname</em></span>
                                                <span class="details">Toplam Sipariş Tutarı: <em>@totalOrderPrice</em></span>
                                                <span class="details">Gönderileceği Adres: <em>@item.Order.Address</em></span>
                                                <span class="price"></span>
                                                <div class="main-white-button">
                                                    <a href="contact.html" style="background-color:mediumspringgreen">Siparişi Onayla</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/orderUI/assets/js/owl-carousel.js"></script>
    <script src="~/orderUI/assets/js/animation.js"></script>
    <script src="~/orderUI/assets/js/imagesloaded.js"></script>
    <script src="~/orderUI/assets/js/custom.js"></script>

</body>

</html>
