@model IEnumerable<BookSale.MVC.Models.Dtos.BookDto>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpAcc
@using BookSale.MVC.ViewComponents
@using System.Security.Claims
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- HERO SECTION-->
<div class="container">
    <!-- TRENDING PRODUCTS-->
    <section class="py-5">
        <header>
            <h2 class="h5 text-uppercase mb-4">TÜM KİTAPLAR</h2>
        </header>
        <br />
        <div class="row">
        @foreach(var item in Model)
        {
            <!-- PRODUCT-->
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="product">
                    <div class="position-relative mb-3">
                            <div class="badge text-white bg-"></div><a class="d-block" href="@item.ImageUrl"><img class="img-fluid w-100" src="@item.ImageUrl" alt="Kitap Resmi" style="width:150px; height:350px"></a>
                        <div class="product-overlay">
                                @if (httpAcc.HttpContext.Session.GetString("JwtToken") != null &&
                               httpAcc.HttpContext.Session.GetString("JwtToken").ToString().Length > 0)
                                {
                                    var userRole = httpAcc.HttpContext.User.FindFirstValue(ClaimTypes.Role);
                                    if (userRole == "User")
                                    {
                                        <ul class="mb-0 list-inline">
                                            <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" asp-action="AddToCart" asp-controller="Cart" asp-route-bookId="@item.Id">Sepete ekle</a></li>
                                        </ul>
                                    }
                                }
                            
                        </div>
                    </div>
                    <br />
                    <h6> @item.Name</h6>
                    <hr />
                    <p class="small text-muted">Yazar: @item.Author</p>
                    <p class="small text-muted">Yayınevi: @item.Publisher</p>
                    <p class="small">@item.Price TL</p>
                </div>
            </div>

        }
        </div>

    </section>
</div>
